.navbar__wrapper {
    position: relative; 
    display: flex;
    flex-direction: column;
}

.navbar__container {
    background-color: var(--bg-accent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    transition: .5s;
    -webkit-box-shadow: 0px 5px 10px 4px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 5px 10px 4px rgba(0,0,0,0.16);
    box-shadow: 0px 5px 10px 4px rgba(0,0,0,0.16);
    z-index: 2;
}


.navbar__half {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.navbar__1st { 
    gap: 48px;
}

.navbar__logo { 
    max-height: 40px;
    cursor: pointer;
}

.navbar__button { 
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.navbar__button h3 { 
    padding: 8px;
    font-size: 18px;
    font-weight: 400;
    color: var(--text-color);
    transition: .5s;
}

.navbar__selected { 
    width: 0%;
    height: 3px;
    background-color: var(--primary-green);
    transition: .5s;
    border-radius: 10px;
}

.navbar__button:hover .navbar__selected {
    width: 110%;
}

.navbar__login { 
    background-color: var(--primary-green);
    padding: 4px;
    border-radius: 12px;

    & h3 { 
        font-weight: 500;
        color: var(--text-reverse);
    }
}


.navbar__searchWrapper { 
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    z-index: 1;
}

.navbar__searchContainer {     
    right: 0;
    background-color: var(--bg-accent);
    display: flex;
    align-items: center;
    height: 100%;
    gap: 12px;
    border-radius: 0 0 10px 10px;
    padding: 10px ;
    transition: .5s;

    & input { 
        background-color: var(--bg-contrast);
        width: 670px;
        height: 100%;
        border-radius: 16px;
        border: none;
        padding: 10px;
        transition: .5s;
        font-size: 16px;
        font-weight: 500;
    }

    & button {
        background-color: var(--primary-green);
        border: none;
        cursor: pointer;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}

.navbar__searchFilter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 8px;
    border-radius: 16px;
    border: solid 2px var(--text-contrast);
    transition: .5s;

    & h3 { 
        font-size: 16px;
        color: var(--text-contrast);
    }


}

.test { 
    background-color: var(--primary-green);
}

