.profile__wrapper {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  transition: 0.5s;
}

.profile__infoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.profile__infoBg {
  background-color: var(--bg-accent);
  position: relative;
  border-radius: 0 0 16px 16px;
  -webkit-box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.16);
}

.profile__banner {
  width: 100%;
  max-height: 200px;
  height: auto;
  object-fit: cover;
}

.profile__picHolder {
  position: relative;
  margin-bottom: 80px;
}

.profile__picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 24px;
  bottom: -50px;
  border: 3px solid var(--bg-accent);
  z-index: 2;
}

.profile__nameContainer {
  position: absolute;
  background-color: var(--bg-accent);
  padding: 12px 24px 24px 48px;
  z-index: 1;
  left: 80px;
  bottom: -50px;
  border-radius: 20px;
  color: var(--text-color);
}

.profile__name {
  font-weight: 500;
}

.profile__roleContainer {
  display: flex;
  align-items: bottom;
  padding-left: 12px;
  gap: 4px;
}

.profile__role {
  font-weight: 500;
}

.profile__profileIcons {
  display: flex;
  justify-content: center;
  align-items: bottom;
  gap: 4px;
  position: absolute;
  bottom: 12px;
  right: 24px;
  cursor: pointer;
  color: var(--text-color);
  transition: 0.5s;
  gap: 12px;

  & p {
    font-weight: 500;
    color: var(--primary-green);
  }
}

.profile__iconItem {
  display: flex;
  justify-content: center;
  align-items: bottom;
  gap: 4px;
}

.profile__icon {
  transition: 0.5s;
}

.profile__iconItem:hover .profile__icon {
  color: var(--text-contrast);
}

@media only screen and (max-width: 576px) {
  .profile__infoBg {
    width: 80%;
  }

  .profile__banner {
    height: 100px;
  }
}

@media only screen and (min-width: 576px) {
  .profile__infoBg {
    width: 70%;
  }

  .profile__banner {
    height: 100px;
  }
}

@media only screen and (min-width: 767px) {
  .profile__infoBg {
    width: 60%;
  }

  .profile__banner {
    height: 125px;
  }
}

@media only screen and (min-width: 992px) {
  .profile__infoBg {
    width: 50%;
  }

  .profile__banner {
    height: 150px;
  }
}

@media only screen and (min-width: 1200px) {
  .profile__infoBg {
    width: 35%;
  }

  .profile__banner {
    height: 180px;
  }
}

@media only screen and (min-width: 1400px) {
  .profile__infoBg {
    width: 30%;
  }

  .profile__banner {
    height: 200px;
  }

  .profile__name {
    font-size: 20px;
  }
}
